{% extends "base.html" %}

{% block title %}Minecraft Control{% endblock %}

{% block content %}
<main class="page">
    <section class="card">
        <header class="card-header">
            <div>
                <h1>Minecraft Server</h1>
                <p>Start the server remotely.</p>
            </div>
        </header>

        {% include "status_box.html" %}

        <label for="secret">Secret</label>
        <input
            id="secret"
            name="secret"
            type="password"
            placeholder="Enter server secret"
            required
        />

        <form class="control-form" hx-include="#secret" hx-post="/start" hx-target="#message" hx-swap="innerHTML">
            <button type="submit">
                Start Server
            </button>
        </form>
        <form class="control-form" hx-include="#secret" hx-post="/stop" hx-target="#message" hx-swap="innerHTML"> 
            <button type="submit" class="danger-button">
                Stop Server
            </button>
        </form>

        <div id="message" class="message">
            
        </div>
    </section>
</main>
{% endblock %}